

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
            <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
            <li routerLinkActive="active"><a routerLink="edit">EDIT</a></li>
            <li routerLinkActive="active"><a routerLink="users">Users</a></li>
            <li routerLinkActive="active"><a routerLink="new-user">new user</a></li>
        </ul>  
        <div class="navbar-right">
            <p>co depuis  {{ secondes }}</p>
        </div> 
    </div>
</nav>

<router-outlet></router-outlet>

